
body {
    background-color: #fff;
    color: #23374d;
    font-family: sans-serif;
    padding: 4rem 4rem;
}

h1, h2 {
    border-bottom: solid 1px;
}

#sample-subject-query {
    color: inherit;
    font: inherit;
    border: 0;
    outline: none;
    font-weight: bold;
}

#sample-subject-query::first-line {
    color: #1089ff;
    border-bottom: solid 2px #23374d;
}

#sample-response, #combined-queries-response, #multi-value-queries-response {
    border: #eee solid 1px;
    color: #eee;
    background-color: #23374d;
    padding: 20px;
    overflow: scroll;
}

.highlight {
    color: #1089ff;
    font-weight: bold;
}

.json-token-prop {
    color: rgb(252, 121, 196);
}

.json-token-value-num {
    color: rgb(189, 148, 249);
}

.json-token-value-string {
    color: rgb(251, 250, 140);
}

.desc {
    font-size: 0.85rem;
}

.request {
    font-size: 1.25rem;
}
